@{
    ViewBag.Title = "Sobre";
}
<h2>Sinos Park</h2>
<div class="jumbotron">
    <h3>Projeto desenvolvido para a disciplina de Desenvolvimento de Software 3.</h3>
    <h3>Integrantes:</h3>
    <h3>Daniel</h3>
    <h3>João </h3>
    <h3>Saulo</h3>
</div>