@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Sinos Park</h1>
    <h1>&nbsp;</h1>
    @Html.ActionLink("Lançar Entrada", "Entrada", new { controller = "Eventoes"}, new { @class = "btn btn-primary btn-lg" })
    @Html.ActionLink("Lançar Saída", "Index", new { controller = "Eventoes"}, new { @class = "btn btn-primary btn-lg" })
    @Html.ActionLink("Comprar Crédito", "ComprarCreditos", new { controller = "Alunoes" }, new { @class = "btn btn-primary btn-lg" })
</div>