@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Sinos Park</h1>
    <p class="text-center lead">Desenvolvimento de Software 3</p>
    <p class="text-center">Daniel, João e Saulo.</p>
    <p class="text-right">2015/A segundo bimestre.</p>
</div>