@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
Projeto desenvolvimento para a disciplina de Desenvolvimento de Software 3.

Curso EAD - segundo bimestre de 2015.
