@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Sinos Park</h1>
    <p class="text-center">Sinos Park - Desenvolvimento de Software 3</p>
    <p class="text-center">Daniel, João e Saulo.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Projeto desenvolvimento para a disciplina de Desenvolvimento de Software 3.</p>
        <p>Curso EAD - segundo bimestre de 2015.</p>
    </div>
</div>